* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

header {
    background: #020617;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header h2 {
    color: white;
}

nav a {
    color: #cbd5e1;
    text-decoration: none;
    margin-left: 25px;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 52px;
    color: white;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 28px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero p {
    max-width: 650px;
    color: #94a3b8;
    margin-bottom: 30px;
}

.btn {
    background: #38bdf8;
    color: #020617;
    padding: 13px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #7dd3fc;
}

section {
    padding: 80px 8%;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    color: white;
    font-size: 34px;
    margin-bottom: 30px;
}

section p {
    color: #94a3b8;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.skill {
    background: #1e293b;
    padding: 16px 30px;
    border-radius: 10px;
    color: #e2e8f0;
    border: 1px solid #334155;
}

.project {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #334155;
}

.project h3 {
    color: white;
    margin-bottom: 10px;
}

footer {
    background: #020617;
    text-align: center;
    padding: 25px;
    color: #64748b;
}